<?php if($message): ?>
    <p class="text-success"><?= $message ?><br><a href="index.php">Retourner à l'accueil</a>.</p>
<?php else: ?>

<section class="section">
    <div class="container col-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h1>Créer un contact</h1>
            </div>

            <form class="form-signin" action="add.php" method="POST">
                <?php if(count($erreur) != 0): ?>
                    <ul>
                        <?php foreach($erreur as $valeur): ?>
                            <li class="text-danger"><?= $valeur ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
                
                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="nom">Nom :</label>
                    <input class="form-control pt-3 pb-3" type="text" id="nom" placeholder="Nom" name="nom" required>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="prenom">Prénom :</label>
                    <input class="form-control pt-3 pb-3" type="text" id="prenom" placeholder="Prénom" name="prenom" required>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="email">Email :</label>
                    <input class="form-control pt-3 pb-3" type="email" id="email" placeholder="Email" name="email" required>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="tel">Téléphone :</label>
                    <input class="form-control pt-3 pb-3" type="text" id="tel" placeholder="Téléphone" name="tel" required>
                </div>

                <div class="row g-3">
                    <div class="col-6">
                        <input class="btn btn-primary col-12 pt-3 pb-3 fs-5" type="submit" id="submit" value="Créer">
                    </div>
                    <div class="col-6">
                        <input class="btn btn-danger col-12 pt-3 pb-3 fs-5" type="reset" id="reset" value="Annuler">
                    </div>
                </div>
            </form>
            <?php endif; ?>
        </div>
    </div>
</section>