<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h1 class="display-4 mb-4 mt-4 fw-normal">Liste des contacts :</h1>
            </div>
        </div>

        <ol class="list-group list-group-numbered">
            <?php foreach($contacts as $contact): ?>
                <li class="list-group-item list-group-item-action list-group-item-info">
                    <a data-id="<?= $contact['idContact'] ?>" class="counter" style="color: #055160;" href="<?= $contact['prenomContact'] ?>" target="_blank"><?= $contact['prenomContact'] ?> <?= $contact['nomContact'] ?></a>
                    <br /><br /><a class="btn btn-success" href="update.php?idContact=<?= intval($contact['idContact']) ?>">Éditer</a>
                    <a class="btn btn-danger" href="delete.php?idContact=<?= intval($contact['idContact']) ?>">Supprimer</a>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
</section>