<section class="section">
    <div class="container col-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h1>Éditer un contact</h1>
            </div>

            <form class="form-signin" action="update.php?idContact=<?= intval($contact['idContact']) ?>" method="POST">
                <?php if(count($erreur) != 0): ?>
                    <ul>
                        <?php foreach($erreur as $valeur): ?>
                            <li class="text-danger"><?= $valeur ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>

                <input type="hidden" name="id" value="<?= intval($contact['idContact']) ?>">
                
                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="nom">Nom :</label>
                    <input class="form-control pt-3 pb-3" type="text" id="nom" name="nom" value="<?= htmlspecialchars($contact['nomContact']) ?>" required>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="prenom">Prénom :</label>
                    <input class="form-control pt-3 pb-3" type="text" id="prenom" name="prenom" value="<?= htmlspecialchars($contact['prenomContact']) ?>" required>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="email">Email :</label>
                    <input class="form-control pt-3 pb-3" type="email" id="email" name="email" value="<?= htmlspecialchars($contact['emailContact']) ?>" required>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label fs-5" for="tel">Téléphone :</label>
                    <input class="form-control pt-3 pb-3" type="text" id="tel" name="tel" value="<?= htmlspecialchars($contact['telContact']) ?>" required>
                </div>

                <div class="col-12">
                    <input class="btn btn-primary col-12 pt-3 pb-3 fs-5" type="submit" id="submit" value="Modifier">
                </div>
            </form>
        </div>
    </div>
</section>